.b1 {
  margin-left: 350px; 
}
body {
  background-color: black;
}
.Achieve75header {
  color: white;
  margin-bottom: -30px;
}
.logoutbtn {
  float: right;
}
.hr1 {
  margin-top: 30px;
}

















