.b1 {
  margin-left: 400px; 
}
.vl {
  border-left: 2px solid black;
  height: 500px;
  margin: 1px
}
body {
  background-color: black;
}
p {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}

















