.b1 {
  align-items: center;
  padding: 10px;
  text-size-adjust: 20px;
}
.b2 {
  align-items: center;
  padding: 10px;
  text-size-adjust: 20px;
}
.b3 {
  align-items: center;
  padding: 10px;
  text-size-adjust: 20px;
}
