.b1 {
  padding: 10px;
  text-size-adjust: 90px;
  margin-left: 450px;
  margin-top: 300px;
}
.b2 {
  margin-left: 100px;
  padding: 10px;
  text-size-adjust: 90px;
}
.b3 {
  margin-left: 100px;
  padding: 10px;
  text-size-adjust: 90px;
}
body {
  background-color: black;
}
